<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8" />

  <title><%= title %></title>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Source+Code+Pro&amp;subset=latin,latin-ext" rel="stylesheet" />
  <link href="/style.css" rel="stylesheet" media="all" />

  <link rel="canonical" href="<%= rel %>" />
  <meta name="description" content="<%= description %>" />
</head>
<body>

  <span id="btn"></span>

  <aside>
    <section>
      <%
        var sections = root.children.filter(has('title', 'children.0'));
      %>
      <% if (sections.length) { %>
        <nav>
          <% sections.forEach(function(section) { %>
          <a href="<%= section.rel %>" <%= section == ancestors[1] && 'class="active"' || '' %>><%= section.title %></a>
          <% }) %>
        </nav>
      <% } %>

      <h2><a class="home" href="<%= root.rel %>" title="Home"><%= root.title %></a></h2>

      <%
        var navigation = '';
        if (ancestors[1]) { (function recurse(p) {
          var items = p.children.filter(has('title', 'index'));

          if (items.length) {
            navigation += '<ul>';
            items.forEach(function(item) {
              navigation += '<li><h4><a href="' + item.rel + '" ' + (item == page && 'class="active"' || '') + '>' + item.title + '</a></h4>';

              if (~ancestors.indexOf(item)) {
                recurse(item);
              }

              navigation += '</li>';
            });
            navigation += '</ul>';
          }
        })(ancestors[1]);}
      %>

      <% if (navigation) { %>
        <hr /><h5>Navigation</h5>
        <%= navigation %>
      <% } else {

        var subpages = page.children.filter(function(child) {
          return child.title && child.index && (!child.children.length || page != root);
        });

        if (subpages.length) { %>
        <hr /><h5>Navigation</h5>
        <% subpages.forEach(function(subpage) { %>
          <h4><a href="<%= subpage.rel %>"><%= subpage.title %></a></h4>
        <%  }); %>
      <% }} %>

      <%
      var recent = pages.filter(has('timestamp')).slice(0, 3);
      if (recent.length) { %>
      <hr /><h5>Recent</h5>
      <% recent.forEach(function (p) { %>
        <h4><a href="<%= p.rel %>" title="Published <%= p.date() %>"><%= p.title %></a></h4>
      <% }); %>
      <% } %>
    </section>
  </aside>

  <main>
    <% if (cover) { %>
      <figure><img src="<%= cover.src %>" alt="<%= cover.alt %>"/></figure>
    <% } %>
    <section>
      <header>
        <% if (page.date) { %>
        <time datetime="<%= date('yyyy-mm-dd') %>"><%= date() %> • <%= Math.ceil(wordCount/200) %> minute read</time>
        <% } %>
        <h1><%= title %></h1>
      </header>
      <%= body %>
    </section>
    <% if (page == root) { %>
    <hr />
    <section>
      <% children.forEach(function(page) { if (page.title && page.description) { %>
      <div>
        <% if (page.date) { %>
        <time datetime="<%= page.date('yyyy-mm-dd') %>"><%= page.date() %></time>
        <% } %>
        <h3><a href="<%= page.rel %>"><%= page.title %></a></h3>
        <p><%= page.description %></p>
      </div>
      <% }}) %>
    </section>
    <% } %>
    <footer>
      <section>
        <p class="center"><a class="section" title="Built with <%=options.name + ' v' + options.version%>" href="<%=options.homepage%>"><span></span><strong><%=options.title%></strong></a></p>
      </section>
    </footer>
  </main>

  <script>
    /(iPad|iPhone|iPod)/g.test(navigator.userAgent) && document.documentElement.classList.add('ios');
  </script>
</body>
</html>
